.nomJoueur:hover {
    color: blue;
    cursor: pointer;
}

a:hover {
    color: hotpink;
}

.choixMenu li:hover {
    color: lightgrey;
    cursor: pointer;
}

#msgbox {
    float:right;
}

#gameInvitationWindow {
    margin: auto;
    border-style: solid;
    border-color: black;
    text-align: center;
    height: 25%;
}