<!DOCTYPE html>
<html>
    <head>
        {% include 'menu.twig' %}
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/lobby.css"/>
        <title>Dario Battle : Lobby</title>
  </head>
  <body>
        <div class="container__onlinePlayers">
            <table id="onlinePlayers">
                <caption>Liste des joueurs dans le lobby</caption>
                <th>Joueur </th>
                {% for pseudo in joueursDispo %}
                {% if pseudo != nom %}
                    <tr>
                        <td class="nomJoueur">{{pseudo}}</td> 
                    </tr>
                {% endif %}
                {% endfor %}
        </table>    
    </div>
    <div id="menu"> 
    
    </div>
    <div id ="msgbox">
        <h3>Messages</h3>
    </div>
    <div id="gameInvitationWindow">
        
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/lobby.js"></script>
    
  </body>
</html>