<link rel="stylesheet" href="css/menu.css" />
    <div class="nav">
        <ul>
            <li class="home"><a href="/userlist">Accueil</a></li>
            <li class="play"><a href="/lobby">Jouer</a></li>
            <li class="account"><a href="#">{{nom}}</a></li>
            <li class="disconnect"><a href="/logout">Déconnexion</a></li>
        </ul>
    </div>