<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'menu.twig' %}
        <title>Dario Battle</title>
        <link rel="stylesheet" href="css/lobby.css"/>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/game.js"></script>

    <style type="text/css">
    
      canvas { border: 1px solid black; }
    </style>
    
  </head>
  <body>
    
   <canvas id="darioScene" width="800" height="600">canvas non supportés</canvas>
   <audio src="/sound/mario.mp3" id="musique" autoplay loop></audio>
   <!--<audio src="/sound/marioSaut.mp3" id='boing' style="display:none"></audio>-->
  </body>
</html>