<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Dario Battle</title>
        
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">

        //liens utiles
        //https://www.w3schools.com/graphics/game_controllers.asp
        //https://www.w3schools.com/graphics/tryit.asp?filename=trygame_controllers_keys
        //http://users.polytech.unice.fr/~strombon/camash/Foundation%20HTML5%20Animation%20with%20JavaScript/html5-animation-source-code/
        //http://stackoverflow.com/questions/14389864/javascript-html5-making-a-canvas-animation-using-wasd-to-move-around-a-rectang
        
        /*****************************
        /*****************************
        /*****************************
        /*****************************
        * A METTRE DANS UN FICHIER .JS */
        
        var socket = io();
        socket.emit('playerInGame');
        socket.on('startingAnnouncement', function(message) {
          alert(message);
        });
        
        /* A METTRE DANS UN FICHIER .JS
        *****************************
        /*****************************
        /*****************************
        /*****************************
        */
        
        /*var mario = new Image();
        mario.src= "/img/mario-static-right.png";*/
         var marioC = new Image();
            marioC.src= "/img/crouch.png";
            var marioJ = new Image();
            marioJ.src= "/img/jump.png";
            var marioS = new Image();
            marioS.src= "/img/standing.png";
            var marioR = new Image();
            marioR.src= "/img/run.png";
        
        var jumping = false;
        var running = false;
        var standing = true;
        var crouch = false;
        var keyQ = false;
        var keyZ = false;
        var keyS = false;
        var keyD = false;
        
        var x =  0;// position de base de mario en x
        var y = 545;// position de base de mario en y
        var vx = 10;//vitesse de mario en x
        var vy = -300;//vitesse de mario en y
        const K = 20;
        
        //test de solution pour entrer clavier
        (function(){
          // prend le frame rate optimal pour chaque navigateur
            var requestAnimationFrame = window.mozRequestAnimationFrame    ||
                window.webkitRequestAnimationFrame ||
                window.msRequestAnimationFrame     ||
                window.oRequestAnimationFrame;
                window.requestAnimationFrame = requestAnimationFrame;
        })();
        //evenement pour savoir quelles touches sont utilisées
        window.addEventListener("keydown",onKeyDown,false);
        window.addEventListener("keyup",onKeyUp,false);
        
        
        //fonction qui indique quelle touche est enfoncée
        function onKeyDown(event) {
              var keyCode = event.keyCode;
              switch (keyCode) {
                case 68: //d
                keyD = true;
                break;
                case 83: //s
                  keyS = true;
                  break;
                case 81: //q
                  keyQ = true;
                  break;
                case 90: //z
                  keyZ = true;
                  break;
                }
        }

        //fonction pour savoir quelle touche n'est pas enfoncée
        function onKeyUp(event) {
          var keyCode = event.keyCode;
        
          switch (keyCode) {
            case 68: //d
              keyD = false;
              break;
            case 83: //s
              keyS = false;
              break;
            case 81: //q
              keyQ = false;
              break;
            case 90: //z
              keyZ = false;
              break;
          }
        }
        
        
        
        function animation(){
            window.requestAnimationFrame(animation);
           
            var canvas = document.getElementById("darioScene");
            var ctx=canvas.getContext("2d");
           
           
            ctx.clearRect(0, 0, canvas.width, canvas.height);//on clear l'ecran a chaque fois
            
            if(running==true && keyD == true && jumping==false){
              ctx.drawImage(marioR,x,y);// on dessine mario
            }
            else if(running==true && keyQ == true && jumping==false){
              //ctx.translate(canvas.width,0);
              //ctx.scale(1,1);
              ctx.drawImage(marioR,x,y);// on dessine mario
            }
            else if (jumping==true){
              ctx.drawImage(marioJ,x,y);// on dessine mario
            }
            else if(standing==true)
            {
              ctx.drawImage(marioS,x,y);// on dessine mario
            }
            else if(crouch==true)
            {
              ctx.drawImage(marioC,x+15,y+15);
            }
            
            if(keyZ == true || jumping==true )
            {
              crouch=false;
              jumping=true;
              standing= false;
              y+=0.08*vy;
              vy+=K;
              console.log("position de y " + y);
              console.log("vitesse en  y " + vy);
              
            }
            if(keyS == true && y == 545)
            
            {
              running=false;
              standing= false;
              jumping=false;
              crouch=true;
            }
            if (keyD == true && keyS == false) {
                crouch=false;
                standing= false;
                running=true;
                console.log("position de x " +x);
                console.log("position de y " + y);
                x += vx;//on fait se déplacer mario vers la droite si la touche Q est enfoncée
            }
            if (keyD == false && keyQ == false && keyS == false) {
              crouch=false;
              standing= true;
              running=false;
            }
            //de même mais vers la gauche
            if (keyQ == true && keyS == false) {
                console.log("position de x " +x);
                standing= false;
                running=true;
                crouch=false;
                x-=vx;
            }
            if (y>545)
            {
              jumping=false;
              y=545;
              vy=-300;
            }
            if(x< -65)//on passe a droite si on sort a gauche
            {
              x=810;
            }
            else if(x>810)// inversement
            {
              x=-65;
            }
        }
            window.requestAnimationFrame(animation);
            
    </script>
    
    <style type="text/css">
      canvas { border: 1px solid black; }
    </style>
    
  </head>
  <!-- Une fois le body chargé on exécute la fonction draw -->
  <body>
   <canvas id="darioScene" width="800" height="600" style="background: url(/img/background.jpg) no-repeat center center;">
  </body>
</html>