<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Dario Battle</title>
        
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">

        //liens utiles
        //https://www.w3schools.com/graphics/game_controllers.asp
        //https://www.w3schools.com/graphics/tryit.asp?filename=trygame_controllers_keys
        //http://users.polytech.unice.fr/~strombon/camash/Foundation%20HTML5%20Animation%20with%20JavaScript/html5-animation-source-code/
        //http://stackoverflow.com/questions/14389864/javascript-html5-making-a-canvas-animation-using-wasd-to-move-around-a-rectang
        
        /*****************************
        /*****************************
        /*****************************
        /*****************************
        * A METTRE DANS UN FICHIER .JS */
        /*
        var socket = io.connect();
        // Le joueur signale au serveur qu'il arrive sur la page 
        socket.emit('playerInGame', '{{nom}}'); 
        // Le joueur demande une salle pour la partie
        socket.emit('needRoom', '{{nom}}');
        // Le serveur signale au joueur qu'il est bien dans la salle
        socket.on("roomHasBeenJoined", function(message) {
          alert(message);
        });
        */
        
        /* A METTRE DANS UN FICHIER .JS
        *****************************
        /*****************************
        /*****************************
        /*****************************
        */
        
        /* Constructeur de l'objet player */
        function Player(x, y, speedX, speedY, state) {
          this.x = x;
          this.y = y;
          this.speedX = speedX;
          this.speedY = speedY;
          this.state = state;
          this.image = new Image();
          this.image.src = "/img/standing.png";
        }
        
        
        /*var mario = new Image();
        mario.src= "/img/mario-static-right.png";*/
         var marioC = new Image();
            marioC.src = "/img/crouch.png";
            var marioJ = new Image();
            marioJ.src = "/img/jump.png";
            var marioS = new Image();
            marioS.src = "/img/standing.png";
            var marioR = new Image();
            marioR.src = "/img/run.png";
        
        var jumping = false;
        var running = false;
        var standing = true;
        var goDown = false;
        var crouch = false;
        var slide = false;
        var keyQ = false;
        var keyZ = false;
        var keyS = false;
        var keyD = false;
        
        var x =  0;// position de base de mario en x
        var y = 545;// position de base de mario en y
        var x2 = 500;
        var y2 = 545;
        var vx = 10;//vitesse de mario en x
        var vy = -300;//vitesse de mario en y
        const K = 20;
        
        //test de solution pour entrer clavier
        (function(){
          // prend le frame rate optimal pour chaque navigateur
            var requestAnimationFrame = window.mozRequestAnimationFrame    ||
                window.webkitRequestAnimationFrame ||
                window.msRequestAnimationFrame     ||
                window.oRequestAnimationFrame;
                window.requestAnimationFrame = requestAnimationFrame;
        })();
        //evenement pour savoir quelles touches sont utilisées
        window.addEventListener("keydown",onKeyDown,false);
        window.addEventListener("keyup",onKeyUp,false);
        
        
        //fonction qui indique quelle touche est enfoncée
        function onKeyDown(event) {
              var keyCode = event.keyCode;
              switch (keyCode) {
                case 68: //d
                keyD = true;
                break;
                case 83: //s
                  keyS = true;
                  break;
                case 81: //q
                  keyQ = true;
                  break;
                case 90: //z
                  keyZ = true;
                  break;
                }
        }

        //fonction pour savoir quelle touche n'est pas enfoncée
        function onKeyUp(event) {
          var keyCode = event.keyCode;
        
          switch (keyCode) {
            case 68: //d
              keyD = false;
              break;
            case 83: //s
              keyS = false;
              break;
            case 81: //q
              keyQ = false;
              break;
            case 90: //z
              keyZ = false;
              break;
          }
        }
        
        var player1 = new Player(300, 545, 10, -300, standing);

        
        function animation() {
          /* Notifie le navigateur que l'on veut exécuter une animation
             l'animation va être refresh en fonction des Hz de l'écran */
          window.requestAnimationFrame(animation);
          
          // Scène de Dario Battle 
          var canvas = document.getElementById("darioScene");
          // La variable ctx contient l'endroit où on va dessiner.
          var ctx = canvas.getContext("2d");
          
          // On clear toute la scène de jeu à chaque rafraichissement d'écran 
          ctx.clearRect(0, 0, canvas.width, canvas.height);
            
          // On dessine le joueur 1
          ctx.drawImage(player1.image, player1.x, player1.y);
          
          // Dessin de l'image statique du joueur 2 pour test
          ctx.drawImage(marioS,x2,y2);
            
          if(running && keyD && !jumping){
              ctx.drawImage(marioR,x,y);// on dessine mario
          }
            else if(running && keyQ && !jumping){
              //ctx.translate(canvas.width,0);
              //ctx.scale(1,1);
              ctx.drawImage(marioR,x,y);// on dessine mario
            }
            else if (jumping || goDown ){
              ctx.drawImage(marioJ,x,y);// on dessine mario
            }
            else if(standing)
            {
              ctx.drawImage(marioS,x,y);// on dessine mario
            }
            else if(crouch)
            {
              ctx.drawImage(marioC,x+15,y+15);
            }
            
            if(keyZ || jumping || goDown)
            {
              crouch=false;
              jumping=true;
              standing= false;
              y+=0.08*vy;
              vy+=K;
              if(vy>0)
              {
                jumping=false;
                goDown=true;
              }
              
            }
            if(keyS && y == 545)
            
            {
              running=false;
              standing= false;
              jumping=false;
              goDown=false;
              crouch=true;
            }
            if (keyD && !keyS) {
                crouch=false;
                standing= false;
                running=true;
                x += vx;//on fait se déplacer mario vers la droite si la touche Q est enfoncée
            }
            if (!keyD && !keyQ && !keyS) {
              crouch=false;
              standing= true;
              running=false;
            }
            //de même mais vers la gauche
            if (keyQ && !keyS) {
                standing= false;
                running=true;
                crouch=false;
                x-=vx;
            }
            if (y>545)
            {
              jumping=false;
              goDown=false;
              y=545;
              vy=-300;
            }
            if(x< -65)//on passe a droite si on sort a gauche
            {
              x=810;
            }
            else if(x>810)// inversement
            {
              x=-65;
            }
            /* Mario accroupit et glisse vers droite */
            if(keyS && keyD) {
              crouch = true;
              slide = true;
              x+=vx;
            }
            /* Mario accroupit et glisse vers gauche */
            else if(keyS && keyQ) {
              crouch = true;
              slide = true;
              if(slide == true) {
                x-=vx;
              }
            }
            // collision de base (grace a la distance)
            var dx = x - x2;
            var dy = y - y2;
            dx = Math.sqrt(dx*dx);
            dy = Math.sqrt(dy*dy);
            
            if (goDown && dx<25)
            {
              if(dy==46.39999999999998)
              console.log("mario a tué le pnj");
            }
            
            
        }
            window.requestAnimationFrame(animation);
            
    </script>
    
    <style type="text/css">
      canvas { border: 1px solid black; }
    </style>
    
  </head>
  <!-- Une fois le body chargé on exécute la fonction draw -->
  <body>
   <canvas id="darioScene" width="800" height="600" style="background: url(/img/background.jpg) no-repeat center center;">
  </body>
</html>