<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Dario Battle</title>
        
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">

        //liens utiles
        //https://www.w3schools.com/graphics/game_controllers.asp
        //https://www.w3schools.com/graphics/tryit.asp?filename=trygame_controllers_keys
        //http://users.polytech.unice.fr/~strombon/camash/Foundation%20HTML5%20Animation%20with%20JavaScript/html5-animation-source-code/
        //http://stackoverflow.com/questions/14389864/javascript-html5-making-a-canvas-animation-using-wasd-to-move-around-a-rectang
        
        /*****************************
        /*****************************
        /*****************************
        /*****************************
        * A METTRE DANS UN FICHIER .JS */
        
        var socket = io();
        socket.emit('playerInGame');
        socket.on('startingAnnouncement', function(message) {
          alert(message);
        });
        
        /*****************************
        /*****************************
        /*****************************
        /*****************************
        * A METTRE DANS UN FICHIER .JS */
        
        var mario = new Image();
        mario.src= "/img/mario-static-right.png";
        
        var keyQ = false;
        var keyZ = false;
        var keyS = false;
        var keyD = false;
        
        var x =  0;// position de base de mario en x
        var y = 480;// position de base de mario en y
        var vx = 5;//vitesse de mario en x
        var vy = -500;//vitesse de mario en y
        var gravity = 5;
        var K = 90;
        
        //test de solution pour entrer clavier
        (function(){
          // prend le frame rate optimal pour chaque navigateur
            var requestAnimationFrame = window.mozRequestAnimationFrame    ||
                window.webkitRequestAnimationFrame ||
                window.msRequestAnimationFrame     ||
                window.oRequestAnimationFrame;
                window.requestAnimationFrame = requestAnimationFrame;
        })();
        //evenement pour savoir quelles touches sont utilisées
        window.addEventListener("keydown",onKeyDown,false);
        window.addEventListener("keyup",onKeyUp,false);
        
        
        //fonction qui indique quelle touche est enfoncée
        function onKeyDown(event) {
              var keyCode = event.keyCode;
              switch (keyCode) {
                case 68: //d
                keyD = true;
                break;
                case 83: //s
                  keyS = true;
                  break;
                case 81: //q
                  keyQ = true;
                  break;
                case 90: //z
                  keyZ = true;
                  break;
                }
        }

        //fonction pour savoir quelle touche n'est pas enfoncée
        function onKeyUp(event) {
          var keyCode = event.keyCode;
        
          switch (keyCode) {
            case 68: //d
              keyD = false;
              break;
            case 83: //s
              keyS = false;
              break;
            case 81: //q
              keyQ = false;
              break;
            case 90: //z
              keyZ = false;
              break;
          }
        }
        
        
        
        function animation(){
            window.requestAnimationFrame(animation);
            var canvas = document.getElementById("darioScene");
            var ctx=canvas.getContext("2d");
            var mario = new Image();
            mario.src= "/img/mario-static-right.png";
            //y=480;
            ctx.clearRect(0, 0, canvas.width, canvas.height);//on clear l'ecran a chaque fois
            ctx.drawImage(mario,x,y);// on dessine mario
            if(keyZ == true)
            {
              
              y+=0.2*vy;
              vy+=K;
              console.log("position de y " + y);
              console.log("vitesse en  y " + vy);
              /*if(y>465 && vy<0)
              {
                console.log("vy "+vy);
              y+=vy;
              vy+=gravity;
              }*/
              
            }
            if(keyS == true)
            
            {
               y-=vy;
            }
            if (keyD == true) {
                console.log("position de x " +x);
                x += vx;//on fait se déplacer mario vers la droite si la touche Q est enfoncée
            }
            //de même mais vers la gauche
            if (keyQ == true) {
                console.log("position de x " +x);
                x-=vx;
            }
            if(x== -55)//on passe a droite si on sort a gauche
            {
              x=800;
            }
            else if(x==800)// inversement
            {
              x=-55;
            }
            if(y>480)
            {
              y=480;
            }
        }
            window.requestAnimationFrame(animation);
            
    </script>
    
    <style type="text/css">
      canvas { border: 1px solid black; }
    </style>
    
  </head>
  <!-- Une fois le body chargé on exécute la fonction draw -->
  <body>
   <canvas id="darioScene" width="800" height="600">
  </body>
</html>